<div class="modal-team">
  <div class="modal-box">
    <button type="button" class="modal-team-close">
      <svg class="svg-team-close" width="30" height="30">
        <use href="./img/icons.svg#icon-close" />
      </svg>
    </button>
    <div class="mentor">
      <h2 class="title-project">
        <span class="title-project-text">Project HTML+CSS</span>
      </h2>
      <h3 class="title-harvest">
        <span class="title-harvest-text">GREEN HARVEST</span>
      </h3>
    </div>

    <div class="it-hub">
      <h2 class="title-hub">
        <span class="hub-text">IT</span>
        <span class="hub-text-hub">HUB</span>
      </h2>
    </div>
    <div class="lead-box">
      <ul class="lead-list">
        <li class="lead-item">
          <img
            class="team-img"
            src="./img/img-modal-team/denis-pronin.webp"
            width="300"
            height="300"
            alt="Denis Pronin"
          />
          <h3 class="team-title">Denis Pronin</h3>
          <p class="team-text">Team Lead</p>
        </li>
        <li class="lead-item">
          <div class="mentor-box">
            <img
              src="./img/img-modal-team/olga.webp"
              width="300"
              height="300"
              alt="Olga Konopleva"
            />
            <h3 class="team-title">Olga Konopleva</h3>
            <p class="team-text">Mentor</p>
          </div>
        </li>
        <li class="lead-item">
          <img
            class="team-img"
            src="./img/img-modal-team/vova.webp"
            width="300"
            height="300"
            alt="Volodymyr Kyryliuk"
          />
          <h3 class="team-title">Volodymyr Kyryliuk</h3>
          <p class="team-text">Scrum Master</p>
        </li>
      </ul>
    </div>
    <div class="team-box">
      <ul class="team-list">
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/viktor.webp"
            width="300"
            height="300"
            alt="Viktor Husar"
          />
          <h3 class="team-title">Viktor Husar</h3>
          <p class="team-text">Your order</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/kot.webp"
            width="400"
            height="400"
            alt="Denys Kot"
          />
          <h3 class="team-title">Denys Kot</h3>
          <p class="team-text">Vegetables</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/polishuk.webp"
            width="400"
            height="400"
            alt="Denys Polishchuk"
          />
          <h3 class="team-title">Denys Polishchuk</h3>
          <p class="team-text">Header</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/ira.webp"
            width="400"
            height="400"
            alt="Iryna Pavlyk"
          />
          <h3 class="team-title">Iryna Pavlyk</h3>
          <p class="team-text">Advertisement</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/ilya.webp"
            width="400"
            height="400"
            alt="Dorizhko Illia"
          />
          <h3 class="team-title">Dorizhko Illia</h3>
          <p class="team-text">Reviews</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/kolya.webp"
            width="400"
            height="400"
            alt="Mykola Naumenko"
          />
          <h3 class="team-title">Mykola Naumenko</h3>
          <p class="team-text">Footer</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/igor.webp"
            width="400"
            height="400"
            alt="Ihor Tsvyk"
          />
          <h3 class="team-title">Ihor Tsvyk</h3>
          <p class="team-text">How it works</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/anatoliy.webp"
            width="400"
            height="400"
            alt="Chambula Anatolii"
          />
          <h3 class="team-title">Chambula Anatolii</h3>
          <p class="team-text">Hero</p>
        </li>
      </ul>
    </div>
  </div>
</div>
