<section class="section vegetables" id="vegetables">
  <div class="container vegetables-box">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">eggplant</h3>
          <p class="vegetables-card-price">60 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/eggplant.webp    1x,
              ./img/vegetables/eggplant_2x.webp 2x
            "
            src="./img/vegetables/eggplant.webp"
            width="282"
            height="243"
            alt="eggplant"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">leek</h3>
          <p class="vegetables-card-price">50 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/leek.webp    1x,
              ./img/vegetables/leek_2x.webp 2x
            "
            src="./img/vegetables/leek.webp"
            width="282"
            height="243"
            alt="leek"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">mushrooms</h3>
          <p class="vegetables-card-price">40 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/mushrooms.webp    1x,
              ./img/vegetables/mushrooms_2x.webp 2x
            "
            src="./img/vegetables/mushrooms.webp"
            width="282"
            height="243"
            alt="mushrooms"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">corn</h3>
          <p class="vegetables-card-price">60 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/corn.webp    1x,
              ./img/vegetables/corn_2x.webp 2x
            "
            src="./img/vegetables/corn.webp"
            width="282"
            height="243"
            alt="corn"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">sweet potatoes</h3>
          <p class="vegetables-card-price">50 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/sweet_potatoes.webp    1x,
              ./img/vegetables/sweet_potatoes_2x.webp 2x
            "
            src="./img/vegetables/sweet_potatoes.webp"
            width="282"
            height="243"
            alt="sweet potatoes"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">carrot</h3>
          <p class="vegetables-card-price">40 UAH / kg</p>
          <img
            srcset="
              ./img/vegetables/carrot.webp    1x,
              ./img/vegetables/carrot_2x.webp 2x
            "
            src="./img/vegetables/carrot.webp"
            width="282"
            height="243"
            alt="carrot"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
